.login {
	padding: 20px;
	box-sizing: border-box;
	.login-title {
			text-align: center;
			margin: 50px 0 40px 0;
	}
	.form-item {
		margin-bottom: 10px;
	}
	.at-avatar {
		display: inline-block;
	}
}
