.register {
	padding: 20px;
	box-sizing: border-box;
	.language-active {
			border-bottom: 1px solid #6392E5;
			padding-bottom: 5px;
	}
	.register-title {
			text-align: center;
			margin: 50px 0 40px 0;
	}
	.form-item {
		margin-bottom: 10px;
	}
	.at-col {
		font-size: 30px;
	}
}
